/*
    Open Weather API Group Project 6
    CSS Styles Sheet
    Team Members: Kimberly Leubner, Daniel Diaz, Curtis Kesner
    Term: Fall 2018
*/

/* HTML Styles */

html {
    background-color: grey;
}

/* Body Styles */

body {
    margin: 1% auto;
    width: 55%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
    box-shadow: 0 0 25px #000000;
}

h1 {
    text-align: center;
    font-size: 3em;
    padding: .5em;
    background-color: bisque;
    letter-spacing: 4px;
    font-family: 'Abril Fatface', cursive;
    border-bottom: 1px solid black;
}

p {
    display: block;
    float: right;
    width: 50%;
    margin-right: 2em;
    text-align: justify;
}

p#title {
    font-size: 1.5em;
    font-weight: bold;
}

#cityPic {
    display: block;
    float: left;
    border: 1px black solid;
    margin-left: 2em;
    margin-bottom: 2em;
}

#bodyContent {
    overflow: hidden;
}

/* Footer Styles */

footer {
    background-color: bisque;
    text-align: center;
    font-size: .9em;
    padding: 1em;
    border-top: 1px solid black;
}